/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;

    
}

/* heading */
.heading{
    color:#3a4d82;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
}

.informationParagraph{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* table styling */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: inherit;
    min-width: 400px;
    max-width: 600px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    display: block;
    margin: auto;
    padding-bottom: 10px;

}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table thead{
  font-weight: bold;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a2443d;
}

/* CA-specific table styling */
#California_table tbody tr:nth-of-type(even) {
  background-color: #a2443d;
  color:white;
  font-weight:bold;
}

/* padding and centering for embedded vizzes */
.tableau-viz1{
  display: block;
  margin: auto;
}
  
/* Nav Buttons */

  .navigation-buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 20px;
  }
  
  .nav-button button {
    padding: 10px 20px;
    font-family: "Poppins";
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #d6d0bf; /* Button color */
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button button:hover {
    background-color: #b2ac9d; /* Button hover color */
  }

  .description{
    text-align: left;
  }
 