@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.heading{
    color:#3a4d82;
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
}




.title{
    box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
    padding: 1rem 0rem 1rem 0.7rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    background-color: #a2443d;

}

.year{
    background-color: #d6d0bf;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    color: #a2443d;
    font-size: 0.9rem;
    margin: 0 0.5rem;
}
#timeline p{
    padding:1rem 0 1rem 1rem;
    color:#000;
}

#timeline button{
    margin: 0.5rem 0rem 1rem 1rem;
    outline: none;
    padding:0.5rem 1rem;
    border-radius: 50px;
    background: transparent;
    transition: all 0.3s ease-in;
    font-family: inherit;
    cursor: pointer;
}

#timeline button:hover{
    background-color: #17202a;
    color: #fff;
}

#timeline ul {
    padding: 50px 0;
}

/* create a line */
#timeline ul li {
    list-style: none;
    position: relative;
    width: 7px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #f2ce6d;
}

#timeline ul li .box {
    position: relative;
    bottom: 0;
    width: 450px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: translateX(400%);
    transition: all 0.5s ease-in-out;
}

/*right side*/
#timeline ul li:nth-child(odd) .box{
    left:40px;
}
/*left side*/
#timeline ul li:nth-child(even) .box{
    left:-500px;
    transform: translateX(-400%);
}

#timeline ul li .box.show{
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}


/*icons*/
#timeline ul li i {
    position: absolute;
    left: 50%;
    top:20;
    width: 45px;
    height:45px;
    background:#3a4d82;
    transform: translateX(-50%);
    border-radius: 50%;

}

#timeline .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color:#d6d0bf;
}


@media (max-width: 768px){
    #timeline ul li {
        margin-left:30px;
    }

    #timeline ul li .box{
        width: calc(100vw - 90px);
    }

    #timeline  ul li:nth-child(even) .box{
        left: 40px;
    }
    
    }




/* 1st button opens */
#modal1 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
}


#modal1.open{
    opacity:1;
    z-index: 999;
    height: 400px;
}




/* 2nd button opens */
#modal2 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
}


#modal2.open{
    opacity:1;
    z-index: 999;
    height: 350px;
} 


/* 3rd button opens */
#modal3 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
    }
    
#modal3.open{
        opacity:1;
        z-index: 999;
        height: 350px;
    }
/* 4th button opens */
    #modal4 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal4.open{
        opacity:1;
        z-index: 999;
        height: 375px;
    }
/* 5th button opens */
    #modal5 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal5.open{
        opacity:1;
        z-index: 999;
        height: 550px;
    }


/* 6th button opens */
    #modal6 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal6.open{
        opacity:1;
        z-index: 999;
        height: 275px;
    }


    /* 7th button opens */
    #modal7 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal7.open{
        opacity:1;
        z-index: 999;
        height: 280px;
    }


/* 8th button opens */
    #modal8 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal8.open{
        opacity:1;
        z-index: 999;
        height: 300px;
    }

    /* 9th button opens */
    #modal9 {
        background-color: #fff;
        border-width: 15px,15px,15px,15px;
        opacity: 0;
        position: fixed;
        padding-left: 15px;
        padding-top: 15px;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        display: flex;
        align-items: left;
        justify-content: left;
        color:#000;
    }
    
#modal9.open{
        opacity:1;
        z-index: 999;
        height: 310px;
    }
/* 10th button opens */
#modal10 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
}

#modal10.open{
    opacity:1;
    z-index: 999;
    height: 300px;
}

/* 11th button opens */
#modal11 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
}

#modal11.open{
    opacity:1;
    z-index: 999;
    height: 300px;
}

/* 12th button opens */
#modal12 {
    background-color: #fff;
    border-width: 15px,15px,15px,15px;
    opacity: 0;
    position: fixed;
    padding-left: 15px;
    padding-top: 15px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: left;
    justify-content: left;
    color:#000;
}

#modal12.open{
    opacity:1;
    z-index: 999;
    height: 300px;
}

#contextParagraph{
    color:black;
    margin-left: 150px ;
    margin-top: 20px ;
    margin-right: 150px ;
}


#sources ul,li {
    list-style-type: disc; /* Sets the bullet type to visible discs */
    margin-left: 20px; /* Adds space between the bullet and the text */
    padding-left: 20px; /* Indents the list items for better readability */
    margin-bottom: 20px; /* Indents the list items for better readability */

}

#sources  ul li {
    margin-bottom: 5px; /* Adds spacing between each list item */
    font-family: inherit; /* Sets a clean font for the list */
    font-size: 10px; /* Adjusts the font size */
    color: #333; /* Sets a neutral text color */
}

#sources ul li a {
    text-decoration: none; /* Removes underlines from the links */
    color: #007BFF; /* Sets a blue color for the links */
    transition: color 0.3s ease; /* Adds a smooth color transition effect */
}

#sources ul li a:hover {
    color: #0056b3; /* Changes the link color when hovered */
}

#sources h3{
    padding-left: 15px;
}

.navigation-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px; 
    right: 20px;
    gap: 10px;
}


